body
{
    background-color: rgb(83, 83, 82);
    color: blue;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;

}
.principal
{
    width: 80%;
    height: 100%;
    margin: 10%;
    margin-top: 0;
    
}
/*---------------------------------HEADER--------------------------------------*/
.cabecera
{
    width: 100%;
    height: 300px;
    background-color: black;
    color:rgb(235, 140, 16);
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 2px 20px 0px rgb(2, 2, 2);
    font-weight: bold;
}
.cabecera .title p
{
    text-align:  center;
    float: left;
    margin: 0px;
    padding: 15px 0 0 5px;
    font-size: 25px;
    color: cornsilk;

}
.cabecera .title small
{
    color: rgb(235, 140, 16); ;
}
.cabecera .title .hola

{
    text-align:  center;
    float: center;
    margin: 0px;
    padding: 140px 0px 0px 300px;
    font-size: 2em;
    color: rgb(235, 140, 16);
}
.cabecera .imagen
{
    float: right;
    color: cornsilk;
}
.cabecera .imagen img {

    border-radius: 50%;
    width: 250px;
    height: 250px;
}

/*---------------------------------NAV--------------------------------------*/

.barra {
    width: 100%;
    position: relative;
    z-index: 2000;/* para colocarlo uno delante del otro*/
    padding: 8px;
    background-color: black;
}
.sub_barra {
    display: flex;
    flex-wrap: wrap;/*elementos que no entren se ballan hacia bajo */
    justify-content: space-between; /*alinear en el eje principal en este caso el horizontal */
    align-items: center; /* alinear en el eje secundario en este caso el vertical */
}
.icon-menu {
    display: block;
    color: rgba(177, 140, 18, 0.884);
}
.social-icon {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 1%;
    color: beige;
}
.social-icon [class*="icon-"]
{
    color: cornsilk;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;/* tamaño del icono*/
    width: 20px;/*ancho entre los icon*/
    height: 35px;/* alto entre los icon*/
    border-radius: 50%;

}
.social-icon__link {
    text-decoration: none;
    
}
.menu {
    
    top: 60px;/*tamaño en el que aparecera*/
    left: 0;/* para que no se tire a la izquierda*/
    width: 72%;
    padding: 0;
    margin: 0;
    margin-right: 10%;
    list-style: none;/* quita los puntos de la lista*/ 
    justify-content: space-between; 
    display: inline-flex;  
}
.menu__link
{
    text-decoration: none;
    color: darkgoldenrod;

}
.menu__link:hover {
    background: rgba(177, 140, 18, 0.884);
    text-decoration: none;
    color: cornsilk;
    padding: 30%;
    margin: 0;
}
.menu__link--select {
    
    text-decoration: none;

}
.menu_item
{
    padding: 50px;
   
}

/*---------------------------------ARTICLE--------------------------------------*/

.container {
    width: 80%;
    height: 100%;
    border: 1px solid rgb(26, 21, 21);
    border-top: 0px;
    padding: 0.5em;
    margin: 0;
    text-align: left;
    background-color: rgb(235, 140, 16);
    float: left;


}
.container h1
{
    font-size: 20px;
    color:cornsilk;
    text-align: center;
}
.container p
{
    color: black;
}
<<<<<<< HEAD
.redes_sociales
{
    width: 18.1%;
    float: right;
    margin: 0;
    padding: 0;
    border: 1px solid black;

}
.redes_sociales .animos
{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.redes_sociales .animos img
{
    width: 100%;
    height: 380px;
   
}
=======

/*---------------------------------FOOTER--------------------------------------*/
.main-footer
{
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px solid white ;

}
.main-footer .container__flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-footer .copy
{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer .container__flex [class*="icon-"]
{
    color: rgb(227, 235, 226);
    text-decoration: none;
}

>>>>>>> footer
