body
{
    background-color: burlywood;
    color: blue;
    text-align: center;
    font-family: "Arial";

}
.cabecera
{
    width: 100%;
    height: 300px;
    border: 2px solid red;
}
.cabecera .hola
{
    text-align:  center;
    float: center;
    padding: 10px;
    font-size: 70px;
}
.cabecera .imagen
{
    float: right;
}
.cabecera .imagen img {

    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.container {
    width: 70%;
    border: 3px solid red;
    padding: 10px;
    margin: 4px auto;
    text-align: left;

}
.container h1
{
    font-size: 20px;
    color: black;
    text-align: center;
}
